################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ThothCbz/bin
/ThothCbz/obj
/.vs
