<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThothCbz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ThothCbz.Properties.Settings>
            <setting name="UseSelectedFolderAsPartOfTheFileStructure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultSplitFolderName" serializeAs="String">
                <value>split</value>
            </setting>
            <setting name="DefaultUnifyFolderName" serializeAs="String">
                <value>unify</value>
            </setting>
            <setting name="EnableUpscale" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimalImageHeight" serializeAs="String">
                <value>7016</value>
            </setting>
            <setting name="ReadOrder" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EnableSpaceInUnifyablePages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableGbzGeneration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableBrightnessAndContrastAdjustments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableBlankPageBetweenChapters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlackPageType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UnifySplittedChaptersFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageOutputFileType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxDegreeOfParallelism" serializeAs="String">
                <value>4</value>
            </setting>
        </ThothCbz.Properties.Settings>
    </userSettings>
</configuration>